<!DOCTYPE html>
<!-- BEGIN html -->
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US"><!-- BEGIN head --><head>


	<!-- Meta Tags -->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Title -->
	<title>Zend</title>

    <!--Favicon code-->
     		<link rel="shortcut icon" href="http://themes.jdsans.net/zend/wp-content/themes/zend/admin/images/favicon.ico">


    <!-- 1140px Grid styles for IE -->
	<!--[if lte IE 9]><link rel="stylesheet" href="http://themes.jdsans.net/zend/wp-content/themes/zend/css/ie.css" type="text/css" media="screen" /><![endif]-->

	<!--add css for different pages-->



	        <link rel="stylesheet" href="/assets/not-home.css" type="text/css" media="screen">


    <!--[if IE 8]>
        <link rel="stylesheet" type="text/css" href="http://themes.jdsans.net/zend/wp-content/themes/zend/css/ie8.css" />
    <![endif]-->
	<!--Color CSS-->
	    <link rel="stylesheet" href="assets/color.css" type="text/css" media="screen">

    <link rel="stylesheet" href="assets/style_load.css" type="text/css" media="screen">

	<!-- RSS & Pingbacks -->
	<link rel="alternate" type="application/rss+xml" title="Zend RSS Feed" href="http://themes.jdsans.net/zend/?feed=rss2">
	<link rel="pingback" href="http://themes.jdsans.net/zend/xmlrpc.php">

    <!-- Theme Hook -->
	<link rel="alternate" type="application/rss+xml" title="Zend » Feed" href="http://themes.jdsans.net/zend/?feed=rss2">
<link rel="alternate" type="application/rss+xml" title="Zend » Comments Feed" href="http://themes.jdsans.net/zend/?feed=comments-rss2">
<link rel="alternate" type="application/rss+xml" title="Zend » Homepage Comments Feed" href="http://themes.jdsans.net/zend/?feed=rss2&amp;page_id=41">
<link rel="stylesheet" id="zilla-shortcodes-css" href="assets/shortcodes.css" type="text/css" media="all">
<script type="text/javascript" src="assets/jquery_003.js"></script>
<script type="text/javascript" src="assets/jquery.js"></script>
<script type="text/javascript" src="assets/jquery_004.js"></script>
<script type="text/javascript" src="assets/jquery_007.js"></script>
<script type="text/javascript" src="assets/jquery_005.js"></script>
<script type="text/javascript" src="assets/zilla-shortcodes-lib.js"></script>
<script type="text/javascript" src="assets/superfish.js"></script>
<script type="text/javascript" src="assets/jquery_002.js"></script>
<script type="text/javascript" src="assets/jquery_006.js"></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://themes.jdsans.net/zend/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://themes.jdsans.net/zend/wp-includes/wlwmanifest.xml">
<link rel="prev" title="Archives" href="http://themes.jdsans.net/zend/?page_id=21">
<meta name="generator" content="WordPress 3.4.2">
<link rel="canonical" href="http://themes.jdsans.net/zend/">
        <script type="text/javascript">
			jQuery(window).load(function() {
			  jQuery('.flexslider.slider').flexslider({
				animation: "slide",
				pauseOnHover:true,
				directionNav:false,
				smoothHeight:true,
			  });
			});
        </script>

            <script type="text/javascript">
			jQuery(window).load(function() {
			  jQuery(".two-columns .cat-content.flexslider").flexslider({
				animation: "slide",
				smoothHeight:true,
				controlNav:false,
				touch:false,
				slideshow:false
			  });
			});
        </script>
            <script type="text/javascript">
			jQuery(window).load(function() {
			  jQuery(".single-column .cat-content.flexslider").flexslider({
				animation: "slide",
				smoothHeight:true,
				controlNav:false,
				touch:false,
				slideshow:false
			  });
			});
        </script>



        <style type="text/css">

            body{
                background:url('http://themes.jdsans.net/zend/wp-content/themes/zend/images/bg1.jpg') no-repeat fixed center;
                background-size:cover;
            }

        </style>





</head><!-- END head -->

<!-- BEGIN body -->
<body class="home page page-id-41 page-template page-template-index-php safari">


    <div class="wrap container">

    	<div class="inner_wrap row">

        <div id="header" class="clearfix">

                  <div class="header-top main clearfix">

                      <div id="header-nav">
                                                    <div class="menu-top-menu-container"><ul id="menu-top-menu" class="menu"><li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://themes.jdsans.net/zend/?page_id=21"><strong><span>/</span>Archives</strong></a></li>
<li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://themes.jdsans.net/zend/?page_id=15"><strong><span>/</span>Fullwidth</strong></a></li>
<li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://themes.jdsans.net/zend/?page_id=19"><strong><span>/</span>Contact</strong></a></li>
</ul></div>
                      </div>

                      <!--BEGIN #searchform-->
                      <form method="get" id="searchform" class="alignright" action="http://themes.jdsans.net/zend/">
                              <input name="s" id="s" value="Type Keyword and hit enter" onfocus="if(this.value=='Type Keyword and hit enter')this.value='';" onblur="if(this.value=='')this.value='Type Keyword and hit enter';" type="text">
                              <input id="searchsubmit" value="→" type="submit">
                      </form><!--END #searchform-->


                  </div> <!--header-top-->


                  <div class="header-top mobile clearfix"><div id="menu-icon">Touch to Search</div>

                      <div style="display: none;" class="mobile_cont clearfix">

                          <div id="header-nav-mobile">
                                                            <div class="menu-top-menu-container"><ul id="menu-top-menu-1" class="menu"><li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://themes.jdsans.net/zend/?page_id=21"><strong><span>/</span>Archives</strong></a></li>
<li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://themes.jdsans.net/zend/?page_id=15"><strong><span>/</span>Fullwidth</strong></a></li>
<li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://themes.jdsans.net/zend/?page_id=19"><strong><span>/</span>Contact</strong></a></li>
</ul></div>
                          </div>

                          <!--BEGIN #searchform-->
                          <form method="get" id="searchform" class="alignright" action="http://themes.jdsans.net/zend/">
                                  <input name="s" id="s" value="Type Keyword and hit enter" onfocus="if(this.value=='Type Keyword and hit enter')this.value='';" onblur="if(this.value=='')this.value='Type Keyword and hit enter';" type="text">
                                  <input id="searchsubmit" value="→" type="submit">
                          </form><!--END #searchform-->

                      </div>

                  </div> <!--header-top-->


                  <div class="header-middle clearfix">

                      <div id="logo">
                                                    <a class="title" href="http://themes.jdsans.net/zend">Zend</a>
                          <span class="description">A stylish blog/magazine theme</span>

                      </div> <!--logo-->


					                        <div id="social_sharing" class=" alignright">
                      	<ul>
                        	                            	<li><a original-title="bloggerzbible" class="twitter" href="http://www.twitter.com/bloggerzbible">Twitter</a></li>

                                                    	<li><a original-title="http://www.facebook.com/bloggerzbible" class="facebook" href="http://www.facebook.com/bloggerzbible">Facebook</a></li>

                                                        <li><a original-title="bloggerzbible" class="pininterest" href="http://www.pinterest.com/bloggerzbible">Pin Interest</a></li>

                                                    	<li><a original-title="http://www.linkedin.com" class="linked" href="http://www.linkedin.com/">linked</a></li>

                                                        <li><a original-title="http://themes.jdsans.net/zend/?page_id=21" class="rss" href="http://themes.jdsans.net/zend/?page_id=21">RSS</a></li>
                                                    </ul>
                      </div>  <!--#social_sharing-->

                  </div> <!--.header-middle-->

                  <div class="header-bottom clearfix">

                      <div id="primary-nav">
                                                    <div class="menu-primary-menu-container"><ul id="menu-primary-menu" class="menu sf-js-enabled"><li id="menu-item-210" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-41 current_page_item menu-item-210"><a href="http://themes.jdsans.net/zend/">Home</a></li>
<li id="menu-item-29" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-29"><a href="http://themes.jdsans.net/zend/?cat=8">Applications</a></li>
<li id="menu-item-30" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-30"><a href="http://themes.jdsans.net/zend/?cat=9">Design</a></li>
<li id="menu-item-31" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-31"><a href="http://themes.jdsans.net/zend/?cat=10">Icons</a></li>
<li id="menu-item-78" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-78"><a href="#">Dropdown</a>
<ul style="display: none; visibility: hidden;" class="sub-menu sf-js-enabled">
	<li id="menu-item-80" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-80"><a href="#">This is an Example of</a></li>
	<li id="menu-item-81" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-81"><a href="#">Simple dorpdown navi</a></li>
	<li id="menu-item-82" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-82"><a href="#">Change these options</a></li>
	<li id="menu-item-84" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-84"><a href="#">With your own custom menu</a></li>
</ul>
</li>
<li id="menu-item-32" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-32"><a href="http://themes.jdsans.net/zend/?cat=7">Startups</a></li>
<li id="menu-item-33" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-33"><a href="http://themes.jdsans.net/zend/?cat=6">Technology</a></li>
<li id="menu-item-212" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-212"><a href="#">Topography</a></li>
</ul></div>
                      </div><!-- primary-nav-->

                      <div id="mobile-nav"><div id="menu-icon">Navigation Menu</div>
                                                    <div style="display: none;" class="menu-primary-menu-container"><ul id="menu-primary-menu-1" class="menu"><li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-41 current_page_item menu-item-210"><a href="http://themes.jdsans.net/zend/">Home</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-29"><a href="http://themes.jdsans.net/zend/?cat=8">Applications</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-30"><a href="http://themes.jdsans.net/zend/?cat=9">Design</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-31"><a href="http://themes.jdsans.net/zend/?cat=10">Icons</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-78"><a href="#">Dropdown</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-80"><a href="#">This is an Example of</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-81"><a href="#">Simple dorpdown navi</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-82"><a href="#">Change these options</a></li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-84"><a href="#">With your own custom menu</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-32"><a href="http://themes.jdsans.net/zend/?cat=7">Startups</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-33"><a href="http://themes.jdsans.net/zend/?cat=6">Technology</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-212"><a href="#">Topography</a></li>
</ul></div>
                      </div>


                  </div> <!-- header-bottom -->


       </div> <!--#header-->

            <div id="main_container" class="container">

            	<div class="inner_content row">

                    <div class="post-content column smaller_section">


                         <div class="flexslider slider">

                             <!--slides_container-->

                          <div style="overflow: hidden; position: relative; height: 521px;" class="flex-viewport"><ul style="width: 1000%; margin-left: -1300px;" class="slides"><li style="width: 650px; float: left; display: block;" class="item clone">


                                  <div class="image">

                                      <a href="http://themes.jdsans.net/zend/?p=45"><img src="assets/2.jpg" class="attachment-post-large wp-post-image" alt="2" title="2" height="350" width="650"></a>

                                  </div><!--slider_image-->


                                  <div class="details">

                                      <div class="post-meta">
                                          <span class="date">August 1, 2012 </span>
                                          <span>by</span>
										  <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                      </div><!--cats-->

                                      <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=45">Random Quote Plugin With Custom Post Type</a></h2>

                                      <div class="excerpt">

                                          <p>The goal of user interface
design is to make the user’s interaction as simple and efficient as
possible, in terms of accomplishing user goals. User interface design or
 user interface engineering is the design of computers, appliances,
machines, mobile communication devices, software applications, and
websites. The goal of user interface design is to&nbsp;make the user’s …</p>

                                      </div><!--excerpt-->

                                  </div><!--details-->

                                  <div class="clear"></div>

                              </li>






                              <li style="width: 650px; float: left; display: block;" class="item">


                                  <div class="image">

                                      <a href="http://themes.jdsans.net/zend/?p=109"><img src="assets/11.jpg" class="attachment-post-large wp-post-image" alt="1" title="1" height="350" width="650"></a>

                                  </div><!--slider_image-->


                                  <div class="details">

                                      <div class="post-meta">
                                          <span class="date">September 30, 2012 </span>
                                          <span>by</span>
										  <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                      </div><!--cats-->

                                      <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=109">Integrating With WordPress UI</a></h2>

                                      <div class="excerpt">

                                          <p>The goal of user interface
design is to make the user’s interaction as simple and efficient as
possible, in terms of accomplishing user goals. User interface design or
 user interface engineering is the design of computers, appliances,
machines, mobile communication devices, software applications, and
websites. The goal of user interface design is to make the …</p>

                                      </div><!--excerpt-->

                                  </div><!--details-->

                                  <div class="clear"></div>

                              </li><!--item-->




                              <li style="width: 650px; float: left; display: block;" class="item flex-active-slide">


                                  <div class="image">

                                      <a href="http://themes.jdsans.net/zend/?p=113"><img src="assets/1-1.jpg" class="attachment-post-large wp-post-image" alt="1-1" title="1-1" height="350" width="650"></a>

                                  </div><!--slider_image-->


                                  <div class="details">

                                      <div class="post-meta">
                                          <span class="date">September 29, 2012 </span>
                                          <span>by</span>
										  <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                      </div><!--cats-->

                                      <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=113">How Compatible Is Your Theme With WordPress?</a></h2>

                                      <div class="excerpt">

                                          <p>The goal of user interface
design is to make the user’s interaction as simple and efficient as
possible, in terms of accomplishing user goals. User interface design or
 user interface engineering is the design of computers, appliances,
machines, mobile communication devices, software applications, and
websites. The goal of user interface design is to make the …</p>

                                      </div><!--excerpt-->

                                  </div><!--details-->

                                  <div class="clear"></div>

                              </li><!--item-->




                              <li style="width: 650px; float: left; display: block;" class="item">


                                  <div class="image">

                                      <a href="http://themes.jdsans.net/zend/?p=45"><img src="assets/2.jpg" class="attachment-post-large wp-post-image" alt="2" title="2" height="350" width="650"></a>

                                  </div><!--slider_image-->


                                  <div class="details">

                                      <div class="post-meta">
                                          <span class="date">August 1, 2012 </span>
                                          <span>by</span>
										  <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                      </div><!--cats-->

                                      <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=45">Random Quote Plugin With Custom Post Type</a></h2>

                                      <div class="excerpt">

                                          <p>The goal of user interface
design is to make the user’s interaction as simple and efficient as
possible, in terms of accomplishing user goals. User interface design or
 user interface engineering is the design of computers, appliances,
machines, mobile communication devices, software applications, and
websites. The goal of user interface design is to&nbsp;make the user’s …</p>

                                      </div><!--excerpt-->

                                  </div><!--details-->

                                  <div class="clear"></div>

                              </li><!--item-->




                            <li style="width: 650px; float: left; display: block;" class="item clone">


                                  <div class="image">

                                      <a href="http://themes.jdsans.net/zend/?p=109"><img src="assets/11.jpg" class="attachment-post-large wp-post-image" alt="1" title="1" height="350" width="650"></a>

                                  </div><!--slider_image-->


                                  <div class="details">

                                      <div class="post-meta">
                                          <span class="date">September 30, 2012 </span>
                                          <span>by</span>
										  <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                      </div><!--cats-->

                                      <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=109">Integrating With WordPress UI</a></h2>

                                      <div class="excerpt">

                                          <p>The goal of user interface
design is to make the user’s interaction as simple and efficient as
possible, in terms of accomplishing user goals. User interface design or
 user interface engineering is the design of computers, appliances,
machines, mobile communication devices, software applications, and
websites. The goal of user interface design is to make the …</p>

                                      </div><!--excerpt-->

                                  </div><!--details-->

                                  <div class="clear"></div>

                              </li></ul></div><ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="flex-active">2</a></li><li><a class="">3</a></li></ol></div><!--slider-->


                          <div class="clear"></div>



                          <div class="cat-container two-columns">



                                <div class="cat-title">
                                    <h2>
                                        Technology                                    </h2>
                                </div>

                                <div class="cat-content flexslider">

                                     <!--slides-->

                                <div style="overflow: hidden; position: relative; height: 848px;" class="flex-viewport"><ul style="width: 1000%; margin-left: -650px;" class="slides clearfix"><li style="width: 650px; float: left; display: block;" class="slide clone">


                                                <div class="item clearfix">


                                                    <div class="image">

                                                        <a href="http://themes.jdsans.net/zend/?p=102"><img src="assets/7-315x169.jpg" alt="" height="169" width="315"></a>

                                                    </div><!--image-->


                                                    <div class="details">

                                                      <div class="post-meta">
                                                          <span class="date">September 29, 2012 </span>
                                                          <span>by</span>
                                                          <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                                      </div><!--post-meta-->

                                                      <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=102">How to Do a Podcast From WordPress</a></h2>

                                                      <div class="excerpt">

                                                          <p>The goal of
 user interface design is to make the user’s interaction as simple and
efficient as possible, in terms of accomplishing user goals. User
interface design or user interface …</p>

                                                      </div><!--excerpt-->

                                                      <div class="more_link">
                                                        <a href="http://themes.jdsans.net/zend/?p=102">Read More</a>
                                                      </div>

                                                    </div><!--details-->

                                                </div> <!--END .item -->







                                                <div style="margin-right: 0px;" class="item clearfix">


                                                    <div class="image">

                                                        <a href="http://themes.jdsans.net/zend/?p=99"><img src="assets/2-315x169.jpg" alt="" height="169" width="315"></a>

                                                    </div><!--image-->


                                                    <div class="details">

                                                      <div class="post-meta">
                                                          <span class="date">September 29, 2012 </span>
                                                          <span>by</span>
                                                          <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                                      </div><!--post-meta-->

                                                      <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=99">Posting via the Front End</a></h2>

                                                      <div class="excerpt">

                                                          <p>The goal of
 user interface design is to make the user’s interaction as simple and
efficient as possible, in terms of accomplishing user goals. User
interface design or user interface …</p>

                                                      </div><!--excerpt-->

                                                      <div class="more_link">
                                                        <a href="http://themes.jdsans.net/zend/?p=99">Read More</a>
                                                      </div>

                                                    </div><!--details-->

                                                </div> <!--END .item -->

											                                           	</li>


                                        		                                            <li style="width: 650px; float: left; display: block;" class="slide flex-active-slide">


                                                <div class="item clearfix">


                                                    <div class="image">

                                                        <a href="http://themes.jdsans.net/zend/?p=147"><img src="assets/81-315x169.jpg" alt="" height="169" width="315"></a>

                                                    </div><!--image-->


                                                    <div class="details">

                                                      <div class="post-meta">
                                                          <span class="date">September 30, 2012 </span>
                                                          <span>by</span>
                                                          <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                                      </div><!--post-meta-->

                                                      <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=147">Conquering the wp-config.php File</a></h2>

                                                      <div class="excerpt">

                                                          <p>The goal of
 user interface design is to make the user’s interaction as simple and
efficient as possible, in terms of accomplishing user goals. User
interface design or user interface …</p>

                                                      </div><!--excerpt-->

                                                      <div class="more_link">
                                                        <a href="http://themes.jdsans.net/zend/?p=147">Read More</a>
                                                      </div>

                                                    </div><!--details-->

                                                </div> <!--END .item -->







                                                <div style="margin-right: 0px;" class="item clearfix">


                                                    <div class="image">

                                                        <a href="http://themes.jdsans.net/zend/?p=144"><img src="assets/71-315x169.jpg" alt="" height="169" width="315"></a>

                                                    </div><!--image-->


                                                    <div class="details">

                                                      <div class="post-meta">
                                                          <span class="date">September 30, 2012 </span>
                                                          <span>by</span>
                                                          <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                                      </div><!--post-meta-->

                                                      <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=144">WordPress Caching Plugins</a></h2>

                                                      <div class="excerpt">

                                                          <p>The goal of
 user interface design is to make the user’s interaction as simple and
efficient as possible, in terms of accomplishing user goals. User
interface design or user interface …</p>

                                                      </div><!--excerpt-->

                                                      <div class="more_link">
                                                        <a href="http://themes.jdsans.net/zend/?p=144">Read More</a>
                                                      </div>

                                                    </div><!--details-->

                                                </div> <!--END .item -->







                                                <div class="item clearfix">


                                                    <div class="image">

                                                        <a href="http://themes.jdsans.net/zend/?p=138"><img src="assets/6-315x169.jpg" alt="" height="169" width="315"></a>

                                                    </div><!--image-->


                                                    <div class="details">

                                                      <div class="post-meta">
                                                          <span class="date">September 30, 2012 </span>
                                                          <span>by</span>
                                                          <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                                      </div><!--post-meta-->

                                                      <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=138">Quick Tip: Get the Current Screen’s Hooks</a></h2>

                                                      <div class="excerpt">

                                                          <p>The goal of
 user interface design is to make the user’s interaction as simple and
efficient as possible, in terms of accomplishing user goals. User
interface design or user interface …</p>

                                                      </div><!--excerpt-->

                                                      <div class="more_link">
                                                        <a href="http://themes.jdsans.net/zend/?p=138">Read More</a>
                                                      </div>

                                                    </div><!--details-->

                                                </div> <!--END .item -->







                                                <div style="margin-right: 0px;" class="item clearfix">


                                                    <div class="image">

                                                        <a href="http://themes.jdsans.net/zend/?p=134"><img src="assets/51-315x169.jpg" alt="" height="169" width="315"></a>

                                                    </div><!--image-->


                                                    <div class="details">

                                                      <div class="post-meta">
                                                          <span class="date">September 30, 2012 </span>
                                                          <span>by</span>
                                                          <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                                      </div><!--post-meta-->

                                                      <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=134">Extensible Plugins With Actions and Filters</a></h2>

                                                      <div class="excerpt">

                                                          <p>The goal of
 user interface design is to make the user’s interaction as simple and
efficient as possible, in terms of accomplishing user goals. User
interface design or user interface …</p>

                                                      </div><!--excerpt-->

                                                      <div class="more_link">
                                                        <a href="http://themes.jdsans.net/zend/?p=134">Read More</a>
                                                      </div>

                                                    </div><!--details-->

                                                </div> <!--END .item -->

											                                           	</li> <!--END .slide -->





                                        		                                            <li style="width: 650px; float: left; display: block;" class="slide">


                                                <div class="item clearfix">


                                                    <div class="image">

                                                        <a href="http://themes.jdsans.net/zend/?p=129"><img src="assets/51-315x169_002.jpg" alt="" height="169" width="315"></a>

                                                    </div><!--image-->


                                                    <div class="details">

                                                      <div class="post-meta">
                                                          <span class="date">September 30, 2012 </span>
                                                          <span>by</span>
                                                          <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                                      </div><!--post-meta-->

                                                      <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=129">WordPress 3.5 Beta 1 Wants You!</a></h2>

                                                      <div class="excerpt">

                                                          <p>The goal of
 user interface design is to make the user’s interaction as simple and
efficient as possible, in terms of accomplishing user goals. User
interface design or user interface …</p>

                                                      </div><!--excerpt-->

                                                      <div class="more_link">
                                                        <a href="http://themes.jdsans.net/zend/?p=129">Read More</a>
                                                      </div>

                                                    </div><!--details-->

                                                </div> <!--END .item -->







                                                <div style="margin-right: 0px;" class="item clearfix">


                                                    <div class="image">

                                                        <a href="http://themes.jdsans.net/zend/?p=120"><img src="assets/3-315x169.png" alt="" height="169" width="315"></a>

                                                    </div><!--image-->


                                                    <div class="details">

                                                      <div class="post-meta">
                                                          <span class="date">September 29, 2012 </span>
                                                          <span>by</span>
                                                          <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                                      </div><!--post-meta-->

                                                      <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=120">Professional WordPress Development: Tools</a></h2>

                                                      <div class="excerpt">

                                                          <p>The goal of
 user interface design is to make the user’s interaction as simple and
efficient as possible, in terms of accomplishing user goals. User
interface design or user interface …</p>

                                                      </div><!--excerpt-->

                                                      <div class="more_link">
                                                        <a href="http://themes.jdsans.net/zend/?p=120">Read More</a>
                                                      </div>

                                                    </div><!--details-->

                                                </div> <!--END .item -->







                                                <div class="item clearfix">


                                                    <div class="image">

                                                        <a href="http://themes.jdsans.net/zend/?p=117"><img src="assets/2-315x169.png" alt="" height="169" width="315"></a>

                                                    </div><!--image-->


                                                    <div class="details">

                                                      <div class="post-meta">
                                                          <span class="date">September 29, 2012 </span>
                                                          <span>by</span>
                                                          <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                                      </div><!--post-meta-->

                                                      <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=117">Making a Theme With Bones: Cleaning Up</a></h2>

                                                      <div class="excerpt">

                                                          <p>The goal of
 user interface design is to make the user’s interaction as simple and
efficient as possible, in terms of accomplishing user goals. User
interface design or user interface …</p>

                                                      </div><!--excerpt-->

                                                      <div class="more_link">
                                                        <a href="http://themes.jdsans.net/zend/?p=117">Read More</a>
                                                      </div>

                                                    </div><!--details-->

                                                </div> <!--END .item -->







                                                <div style="margin-right: 0px;" class="item clearfix">


                                                    <div class="image">

                                                        <a href="http://themes.jdsans.net/zend/?p=106"><img src="assets/21-315x169.jpg" alt="" height="169" width="315"></a>

                                                    </div><!--image-->


                                                    <div class="details">

                                                      <div class="post-meta">
                                                          <span class="date">September 29, 2012 </span>
                                                          <span>by</span>
                                                          <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                                      </div><!--post-meta-->

                                                      <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=106">WordPress Roles and Capabilities</a></h2>

                                                      <div class="excerpt">

                                                          <p>The goal of
 user interface design is to make the user’s interaction as simple and
efficient as possible, in terms of accomplishing user goals. User
interface design or user interface …</p>

                                                      </div><!--excerpt-->

                                                      <div class="more_link">
                                                        <a href="http://themes.jdsans.net/zend/?p=106">Read More</a>
                                                      </div>

                                                    </div><!--details-->

                                                </div> <!--END .item -->

											                                           	</li> <!--END .slide -->





                                        		                                            <li style="width: 650px; float: left; display: block;" class="slide">


                                                <div class="item clearfix">


                                                    <div class="image">

                                                        <a href="http://themes.jdsans.net/zend/?p=102"><img src="assets/7-315x169.jpg" alt="" height="169" width="315"></a>

                                                    </div><!--image-->


                                                    <div class="details">

                                                      <div class="post-meta">
                                                          <span class="date">September 29, 2012 </span>
                                                          <span>by</span>
                                                          <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                                      </div><!--post-meta-->

                                                      <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=102">How to Do a Podcast From WordPress</a></h2>

                                                      <div class="excerpt">

                                                          <p>The goal of
 user interface design is to make the user’s interaction as simple and
efficient as possible, in terms of accomplishing user goals. User
interface design or user interface …</p>

                                                      </div><!--excerpt-->

                                                      <div class="more_link">
                                                        <a href="http://themes.jdsans.net/zend/?p=102">Read More</a>
                                                      </div>

                                                    </div><!--details-->

                                                </div> <!--END .item -->







                                                <div style="margin-right: 0px;" class="item clearfix">


                                                    <div class="image">

                                                        <a href="http://themes.jdsans.net/zend/?p=99"><img src="assets/2-315x169.jpg" alt="" height="169" width="315"></a>

                                                    </div><!--image-->


                                                    <div class="details">

                                                      <div class="post-meta">
                                                          <span class="date">September 29, 2012 </span>
                                                          <span>by</span>
                                                          <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                                      </div><!--post-meta-->

                                                      <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=99">Posting via the Front End</a></h2>

                                                      <div class="excerpt">

                                                          <p>The goal of
 user interface design is to make the user’s interaction as simple and
efficient as possible, in terms of accomplishing user goals. User
interface design or user interface …</p>

                                                      </div><!--excerpt-->

                                                      <div class="more_link">
                                                        <a href="http://themes.jdsans.net/zend/?p=99">Read More</a>
                                                      </div>

                                                    </div><!--details-->

                                                </div> <!--END .item -->

											                                           	</li> <!--END .slide -->






                                    <li style="width: 650px; float: left; display: block;" class="slide clone">


                                                <div class="item clearfix">


                                                    <div class="image">

                                                        <a href="http://themes.jdsans.net/zend/?p=147"><img src="assets/81-315x169.jpg" alt="" height="169" width="315"></a>

                                                    </div><!--image-->


                                                    <div class="details">

                                                      <div class="post-meta">
                                                          <span class="date">September 30, 2012 </span>
                                                          <span>by</span>
                                                          <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                                      </div><!--post-meta-->

                                                      <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=147">Conquering the wp-config.php File</a></h2>

                                                      <div class="excerpt">

                                                          <p>The goal of
 user interface design is to make the user’s interaction as simple and
efficient as possible, in terms of accomplishing user goals. User
interface design or user interface …</p>

                                                      </div><!--excerpt-->

                                                      <div class="more_link">
                                                        <a href="http://themes.jdsans.net/zend/?p=147">Read More</a>
                                                      </div>

                                                    </div><!--details-->

                                                </div> <!--END .item -->







                                                <div style="margin-right: 0px;" class="item clearfix">


                                                    <div class="image">

                                                        <a href="http://themes.jdsans.net/zend/?p=144"><img src="assets/71-315x169.jpg" alt="" height="169" width="315"></a>

                                                    </div><!--image-->


                                                    <div class="details">

                                                      <div class="post-meta">
                                                          <span class="date">September 30, 2012 </span>
                                                          <span>by</span>
                                                          <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                                      </div><!--post-meta-->

                                                      <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=144">WordPress Caching Plugins</a></h2>

                                                      <div class="excerpt">

                                                          <p>The goal of
 user interface design is to make the user’s interaction as simple and
efficient as possible, in terms of accomplishing user goals. User
interface design or user interface …</p>

                                                      </div><!--excerpt-->

                                                      <div class="more_link">
                                                        <a href="http://themes.jdsans.net/zend/?p=144">Read More</a>
                                                      </div>

                                                    </div><!--details-->

                                                </div> <!--END .item -->







                                                <div class="item clearfix">


                                                    <div class="image">

                                                        <a href="http://themes.jdsans.net/zend/?p=138"><img src="assets/6-315x169.jpg" alt="" height="169" width="315"></a>

                                                    </div><!--image-->


                                                    <div class="details">

                                                      <div class="post-meta">
                                                          <span class="date">September 30, 2012 </span>
                                                          <span>by</span>
                                                          <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                                      </div><!--post-meta-->

                                                      <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=138">Quick Tip: Get the Current Screen’s Hooks</a></h2>

                                                      <div class="excerpt">

                                                          <p>The goal of
 user interface design is to make the user’s interaction as simple and
efficient as possible, in terms of accomplishing user goals. User
interface design or user interface …</p>

                                                      </div><!--excerpt-->

                                                      <div class="more_link">
                                                        <a href="http://themes.jdsans.net/zend/?p=138">Read More</a>
                                                      </div>

                                                    </div><!--details-->

                                                </div> <!--END .item -->







                                                <div style="margin-right: 0px;" class="item clearfix">


                                                    <div class="image">

                                                        <a href="http://themes.jdsans.net/zend/?p=134"><img src="assets/51-315x169.jpg" alt="" height="169" width="315"></a>

                                                    </div><!--image-->


                                                    <div class="details">

                                                      <div class="post-meta">
                                                          <span class="date">September 30, 2012 </span>
                                                          <span>by</span>
                                                          <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                                      </div><!--post-meta-->

                                                      <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=134">Extensible Plugins With Actions and Filters</a></h2>

                                                      <div class="excerpt">

                                                          <p>The goal of
 user interface design is to make the user’s interaction as simple and
efficient as possible, in terms of accomplishing user goals. User
interface design or user interface …</p>

                                                      </div><!--excerpt-->

                                                      <div class="more_link">
                                                        <a href="http://themes.jdsans.net/zend/?p=134">Read More</a>
                                                      </div>

                                                    </div><!--details-->

                                                </div> <!--END .item -->

											                                           	</li></ul></div><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></div> <!--.cat-content-->

                          </div> <!--.cat-container-->



                          <div class="clear"></div>


                          <div class="cat-container single-column">



                                <div class="cat-title">
                                    <h2>
                                        Startups                                    </h2>
                                </div>

                                <div class="cat-content flexslider">

                                     <!--slides_container-->

                                <div style="overflow: hidden; position: relative; height: 547px;" class="flex-viewport"><ul style="width: 1000%; margin-left: -650px;" class="slides"><li style="width: 650px; float: left; display: block;" class="slide clone">


                                            <div class="item clearfix">


                                                <div class="image">

                                                    <a href="http://themes.jdsans.net/zend/?p=120"><img src="assets/3-140x140.png" alt="" height="140" width="140"></a>

                                                </div><!--image-->


                                                <div class="details">

                                                  <div class="post-meta">
                                                      <span class="date">September 29, 2012 </span>
                                                      <span>by</span>
                                                      <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                                  </div><!--cats-->

                                                  <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=120">Professional WordPress Development: Tools</a></h2>

                                                  <div class="excerpt">

                                                      <p>The goal of user interface design is to make the user’s interaction as simple and efficient as possible, in terms …</p>

                                                  </div><!--excerpt-->

                                                  <div class="more_link">
                                                    <a href="http://themes.jdsans.net/zend/?p=120">Read More</a>
                                                  </div>

                                                </div><!--details-->

                                                <div class="clear"></div>

                                            </div><!--item-->







                                            <div style="margin-right: 0px;" class="item clearfix">


                                                <div class="image">

                                                    <a href="http://themes.jdsans.net/zend/?p=117"><img src="assets/2-140x140.png" alt="" height="140" width="140"></a>

                                                </div><!--image-->


                                                <div class="details">

                                                  <div class="post-meta">
                                                      <span class="date">September 29, 2012 </span>
                                                      <span>by</span>
                                                      <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                                  </div><!--cats-->

                                                  <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=117">Making a Theme With Bones: Cleaning Up</a></h2>

                                                  <div class="excerpt">

                                                      <p>The goal of user interface design is to make the user’s interaction as simple and efficient as possible, in terms …</p>

                                                  </div><!--excerpt-->

                                                  <div class="more_link">
                                                    <a href="http://themes.jdsans.net/zend/?p=117">Read More</a>
                                                  </div>

                                                </div><!--details-->

                                                <div class="clear"></div>

                                            </div><!--item-->

											                                           	</li>


                                        		                                            <li style="width: 650px; float: left; display: block;" class="slide flex-active-slide">


                                            <div class="item clearfix">


                                                <div class="image">

                                                    <a href="http://themes.jdsans.net/zend/?p=147"><img src="assets/81-140x140.jpg" alt="" height="140" width="140"></a>

                                                </div><!--image-->


                                                <div class="details">

                                                  <div class="post-meta">
                                                      <span class="date">September 30, 2012 </span>
                                                      <span>by</span>
                                                      <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                                  </div><!--cats-->

                                                  <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=147">Conquering the wp-config.php File</a></h2>

                                                  <div class="excerpt">

                                                      <p>The goal of user interface design is to make the user’s interaction as simple and efficient as possible, in terms …</p>

                                                  </div><!--excerpt-->

                                                  <div class="more_link">
                                                    <a href="http://themes.jdsans.net/zend/?p=147">Read More</a>
                                                  </div>

                                                </div><!--details-->

                                                <div class="clear"></div>

                                            </div><!--item-->







                                            <div style="margin-right: 0px;" class="item clearfix">


                                                <div class="image">

                                                    <a href="http://themes.jdsans.net/zend/?p=144"><img src="assets/71-140x140.jpg" alt="" height="140" width="140"></a>

                                                </div><!--image-->


                                                <div class="details">

                                                  <div class="post-meta">
                                                      <span class="date">September 30, 2012 </span>
                                                      <span>by</span>
                                                      <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                                  </div><!--cats-->

                                                  <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=144">WordPress Caching Plugins</a></h2>

                                                  <div class="excerpt">

                                                      <p>The goal of user interface design is to make the user’s interaction as simple and efficient as possible, in terms …</p>

                                                  </div><!--excerpt-->

                                                  <div class="more_link">
                                                    <a href="http://themes.jdsans.net/zend/?p=144">Read More</a>
                                                  </div>

                                                </div><!--details-->

                                                <div class="clear"></div>

                                            </div><!--item-->







                                            <div class="item clearfix">


                                                <div class="image">

                                                    <a href="http://themes.jdsans.net/zend/?p=138"><img src="assets/6-140x140.jpg" alt="" height="140" width="140"></a>

                                                </div><!--image-->


                                                <div class="details">

                                                  <div class="post-meta">
                                                      <span class="date">September 30, 2012 </span>
                                                      <span>by</span>
                                                      <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                                  </div><!--cats-->

                                                  <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=138">Quick Tip: Get the Current Screen’s Hooks</a></h2>

                                                  <div class="excerpt">

                                                      <p>The goal of user interface design is to make the user’s interaction as simple and efficient as possible, in terms …</p>

                                                  </div><!--excerpt-->

                                                  <div class="more_link">
                                                    <a href="http://themes.jdsans.net/zend/?p=138">Read More</a>
                                                  </div>

                                                </div><!--details-->

                                                <div class="clear"></div>

                                            </div><!--item-->

											                                           	</li> <!--END .slide -->





                                        		                                            <li style="width: 650px; float: left; display: block;" class="slide">


                                            <div class="item clearfix">


                                                <div class="image">

                                                    <a href="http://themes.jdsans.net/zend/?p=134"><img src="assets/51-140x140_002.jpg" alt="" height="140" width="140"></a>

                                                </div><!--image-->


                                                <div class="details">

                                                  <div class="post-meta">
                                                      <span class="date">September 30, 2012 </span>
                                                      <span>by</span>
                                                      <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                                  </div><!--cats-->

                                                  <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=134">Extensible Plugins With Actions and Filters</a></h2>

                                                  <div class="excerpt">

                                                      <p>The goal of user interface design is to make the user’s interaction as simple and efficient as possible, in terms …</p>

                                                  </div><!--excerpt-->

                                                  <div class="more_link">
                                                    <a href="http://themes.jdsans.net/zend/?p=134">Read More</a>
                                                  </div>

                                                </div><!--details-->

                                                <div class="clear"></div>

                                            </div><!--item-->







                                            <div style="margin-right: 0px;" class="item clearfix">


                                                <div class="image">

                                                    <a href="http://themes.jdsans.net/zend/?p=129"><img src="assets/51-140x140.jpg" alt="" height="140" width="140"></a>

                                                </div><!--image-->


                                                <div class="details">

                                                  <div class="post-meta">
                                                      <span class="date">September 30, 2012 </span>
                                                      <span>by</span>
                                                      <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                                  </div><!--cats-->

                                                  <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=129">WordPress 3.5 Beta 1 Wants You!</a></h2>

                                                  <div class="excerpt">

                                                      <p>The goal of user interface design is to make the user’s interaction as simple and efficient as possible, in terms …</p>

                                                  </div><!--excerpt-->

                                                  <div class="more_link">
                                                    <a href="http://themes.jdsans.net/zend/?p=129">Read More</a>
                                                  </div>

                                                </div><!--details-->

                                                <div class="clear"></div>

                                            </div><!--item-->







                                            <div class="item clearfix">


                                                <div class="image">

                                                    <a href="http://themes.jdsans.net/zend/?p=124"><img src="assets/4-140x140.png" alt="" height="140" width="140"></a>

                                                </div><!--image-->


                                                <div class="details">

                                                  <div class="post-meta">
                                                      <span class="date">September 29, 2012 </span>
                                                      <span>by</span>
                                                      <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                                  </div><!--cats-->

                                                  <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=124">Displaying Posts in a Carousel</a></h2>

                                                  <div class="excerpt">

                                                      <p>The goal of user interface design is to make the user’s interaction as simple and efficient as possible, in terms …</p>

                                                  </div><!--excerpt-->

                                                  <div class="more_link">
                                                    <a href="http://themes.jdsans.net/zend/?p=124">Read More</a>
                                                  </div>

                                                </div><!--details-->

                                                <div class="clear"></div>

                                            </div><!--item-->

											                                           	</li> <!--END .slide -->





                                        		                                            <li style="width: 650px; float: left; display: block;" class="slide">


                                            <div class="item clearfix">


                                                <div class="image">

                                                    <a href="http://themes.jdsans.net/zend/?p=120"><img src="assets/3-140x140.png" alt="" height="140" width="140"></a>

                                                </div><!--image-->


                                                <div class="details">

                                                  <div class="post-meta">
                                                      <span class="date">September 29, 2012 </span>
                                                      <span>by</span>
                                                      <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                                  </div><!--cats-->

                                                  <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=120">Professional WordPress Development: Tools</a></h2>

                                                  <div class="excerpt">

                                                      <p>The goal of user interface design is to make the user’s interaction as simple and efficient as possible, in terms …</p>

                                                  </div><!--excerpt-->

                                                  <div class="more_link">
                                                    <a href="http://themes.jdsans.net/zend/?p=120">Read More</a>
                                                  </div>

                                                </div><!--details-->

                                                <div class="clear"></div>

                                            </div><!--item-->







                                            <div style="margin-right: 0px;" class="item clearfix">


                                                <div class="image">

                                                    <a href="http://themes.jdsans.net/zend/?p=117"><img src="assets/2-140x140.png" alt="" height="140" width="140"></a>

                                                </div><!--image-->


                                                <div class="details">

                                                  <div class="post-meta">
                                                      <span class="date">September 29, 2012 </span>
                                                      <span>by</span>
                                                      <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                                  </div><!--cats-->

                                                  <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=117">Making a Theme With Bones: Cleaning Up</a></h2>

                                                  <div class="excerpt">

                                                      <p>The goal of user interface design is to make the user’s interaction as simple and efficient as possible, in terms …</p>

                                                  </div><!--excerpt-->

                                                  <div class="more_link">
                                                    <a href="http://themes.jdsans.net/zend/?p=117">Read More</a>
                                                  </div>

                                                </div><!--details-->

                                                <div class="clear"></div>

                                            </div><!--item-->

											                                           	</li> <!--END .slide -->






                               		<li style="width: 650px; float: left; display: block;" class="slide clone">


                                            <div class="item clearfix">


                                                <div class="image">

                                                    <a href="http://themes.jdsans.net/zend/?p=147"><img src="assets/81-140x140.jpg" alt="" height="140" width="140"></a>

                                                </div><!--image-->


                                                <div class="details">

                                                  <div class="post-meta">
                                                      <span class="date">September 30, 2012 </span>
                                                      <span>by</span>
                                                      <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                                  </div><!--cats-->

                                                  <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=147">Conquering the wp-config.php File</a></h2>

                                                  <div class="excerpt">

                                                      <p>The goal of user interface design is to make the user’s interaction as simple and efficient as possible, in terms …</p>

                                                  </div><!--excerpt-->

                                                  <div class="more_link">
                                                    <a href="http://themes.jdsans.net/zend/?p=147">Read More</a>
                                                  </div>

                                                </div><!--details-->

                                                <div class="clear"></div>

                                            </div><!--item-->







                                            <div style="margin-right: 0px;" class="item clearfix">


                                                <div class="image">

                                                    <a href="http://themes.jdsans.net/zend/?p=144"><img src="assets/71-140x140.jpg" alt="" height="140" width="140"></a>

                                                </div><!--image-->


                                                <div class="details">

                                                  <div class="post-meta">
                                                      <span class="date">September 30, 2012 </span>
                                                      <span>by</span>
                                                      <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                                  </div><!--cats-->

                                                  <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=144">WordPress Caching Plugins</a></h2>

                                                  <div class="excerpt">

                                                      <p>The goal of user interface design is to make the user’s interaction as simple and efficient as possible, in terms …</p>

                                                  </div><!--excerpt-->

                                                  <div class="more_link">
                                                    <a href="http://themes.jdsans.net/zend/?p=144">Read More</a>
                                                  </div>

                                                </div><!--details-->

                                                <div class="clear"></div>

                                            </div><!--item-->







                                            <div class="item clearfix">


                                                <div class="image">

                                                    <a href="http://themes.jdsans.net/zend/?p=138"><img src="assets/6-140x140.jpg" alt="" height="140" width="140"></a>

                                                </div><!--image-->


                                                <div class="details">

                                                  <div class="post-meta">
                                                      <span class="date">September 30, 2012 </span>
                                                      <span>by</span>
                                                      <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                                                  </div><!--cats-->

                                                  <h2 class="title"><a href="http://themes.jdsans.net/zend/?p=138">Quick Tip: Get the Current Screen’s Hooks</a></h2>

                                                  <div class="excerpt">

                                                      <p>The goal of user interface design is to make the user’s interaction as simple and efficient as possible, in terms …</p>

                                                  </div><!--excerpt-->

                                                  <div class="more_link">
                                                    <a href="http://themes.jdsans.net/zend/?p=138">Read More</a>
                                                  </div>

                                                </div><!--details-->

                                                <div class="clear"></div>

                                            </div><!--item-->

											                                           	</li></ul></div><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></div> <!--.cat-content-->

                          </div> <!--.cat-container-->



                	</div>  <!--post-content-->

                    		<!--BEGIN #sidebar .aside-->
		<div id="sidebar" class="column bigger_section">

			<div id="popular-posts_thumb-2" class="widget popular-posts_Thumb"><h4 class="widget-title">Popular Posts</h4>

	<ul class="popular-post-thumb clearfix">

            <li class="item">

                                    <div class="thumbnail"><a href="http://themes.jdsans.net/zend/?p=55"><img src="assets/4-70x70.jpg" class="attachment-post-thumbnail wp-post-image" alt="4" title="4" height="70" width="70"></a></div>

                <div class="details ">
                    <h4><a href="http://themes.jdsans.net/zend/?p=55">WordPress Caching Plugins</a></h4>

                                        <div class="post-meta">
                        <span class="date">August 2, 2012 </span>
                        <span>by</span>
                        <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                    </div><!--post-meta-->

                </div>

                <div class="clear"></div>

            </li>


            <li class="item">

                                    <div class="thumbnail"><a href="http://themes.jdsans.net/zend/?p=113"><img src="assets/1-1-70x70.jpg" class="attachment-post-thumbnail wp-post-image" alt="1-1" title="1-1" height="70" width="70"></a></div>

                <div class="details ">
                    <h4><a href="http://themes.jdsans.net/zend/?p=113">How Compatible Is Your Theme With WordPress?</a></h4>

                                        <div class="post-meta">
                        <span class="date">September 29, 2012 </span>
                        <span>by</span>
                        <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                    </div><!--post-meta-->

                </div>

                <div class="clear"></div>

            </li>


            <li class="item">

                                    <div class="thumbnail"><a href="http://themes.jdsans.net/zend/?p=39"><img src="assets/8-70x70.jpg" class="attachment-post-thumbnail wp-post-image" alt="8" title="8" height="70" width="70"></a></div>

                <div class="details ">
                    <h4><a href="http://themes.jdsans.net/zend/?p=39">Hierarchical Custom Post Types Not Working for You?</a></h4>

                                        <div class="post-meta">
                        <span class="date">September 1, 2012 </span>
                        <span>by</span>
                        <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                    </div><!--post-meta-->

                </div>

                <div class="clear"></div>

            </li>


            <li class="item">

                                    <div class="thumbnail"><a href="http://themes.jdsans.net/zend/?p=45"><img src="assets/2-70x70.jpg" class="attachment-post-thumbnail wp-post-image" alt="2" title="2" height="70" width="70"></a></div>

                <div class="details ">
                    <h4><a href="http://themes.jdsans.net/zend/?p=45">Random Quote Plugin With Custom Post Type</a></h4>

                                        <div class="post-meta">
                        <span class="date">August 1, 2012 </span>
                        <span>by</span>
                        <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                    </div><!--post-meta-->

                </div>

                <div class="clear"></div>

            </li>


            <li class="item">

                                    <div class="thumbnail"><a href="http://themes.jdsans.net/zend/?p=147"><img src="assets/81-70x70.jpg" class="attachment-post-thumbnail wp-post-image" alt="8" title="8" height="70" width="70"></a></div>

                <div class="details ">
                    <h4><a href="http://themes.jdsans.net/zend/?p=147">Conquering the wp-config.php File</a></h4>

                                        <div class="post-meta">
                        <span class="date">September 30, 2012 </span>
                        <span>by</span>
                        <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                    </div><!--post-meta-->

                </div>

                <div class="clear"></div>

            </li>


            <li class="item">

                                    <div class="thumbnail"><a href="http://themes.jdsans.net/zend/?p=144"><img src="assets/71-70x70.jpg" class="attachment-post-thumbnail wp-post-image" alt="7" title="7" height="70" width="70"></a></div>

                <div class="details ">
                    <h4><a href="http://themes.jdsans.net/zend/?p=144">WordPress Caching Plugins</a></h4>

                                        <div class="post-meta">
                        <span class="date">September 30, 2012 </span>
                        <span>by</span>
                        <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                    </div><!--post-meta-->

                </div>

                <div class="clear"></div>

            </li>


            <li class="item">

                                    <div class="thumbnail"><a href="http://themes.jdsans.net/zend/?p=138"><img src="assets/6-70x70.jpg" class="attachment-post-thumbnail wp-post-image" alt="6" title="6" height="70" width="70"></a></div>

                <div class="details ">
                    <h4><a href="http://themes.jdsans.net/zend/?p=138">Quick Tip: Get the Current Screen’s Hooks</a></h4>

                                        <div class="post-meta">
                        <span class="date">September 30, 2012 </span>
                        <span>by</span>
                        <span class="author"><a href="http://themes.jdsans.net/zend/?author=2" title="Posts by John Fraskos" rel="author">John Fraskos</a> </span>

                    </div><!--post-meta-->

                </div>

                <div class="clear"></div>

            </li>

			</ul>

    </div><div id="archives-2" class="widget widget_archive"><h4 class="widget-title">Archives</h4>		<ul>
			<li><a href="http://themes.jdsans.net/zend/?m=201209" title="September 2012">September 2012</a></li>
	<li><a href="http://themes.jdsans.net/zend/?m=201208" title="August 2012">August 2012</a></li>
		</ul>
</div><div id="square_ad_widget-2" class="widget square_ad_widget"><ul class="ad_spots clearfix"><li><a target="_blank" href="http://themeforest.net/user/jdsans/portfolio?ref=jdsans"><img src="assets/banner_125x125.gif" alt="" height="125" width="125"></a></li><li><a target="_blank" href="http://themeforest.net/user/jdsans/portfolio?ref=jdsans"><img src="assets/gr_125x125.gif" alt="" height="125" width="125"></a></li></ul><div class="clear"></div></div><div id="cat_widget-2" class="widget Cat_widget"><h4 class="widget-title">Popular Tags</h4>
		<ul class="tag_list">
			<li><a href="http://themes.jdsans.net/zend/?tag=applications-2" class="tag-link-19" title="1 topic" style="font-size: 8pt;">applications</a></li> <li><a href="http://themes.jdsans.net/zend/?tag=design-2" class="tag-link-14" title="2 topics" style="font-size: 14.3pt;">design</a></li> <li><a href="http://themes.jdsans.net/zend/?tag=featured" class="tag-link-20" title="1 topic" style="font-size: 8pt;">featured</a></li> <li><a href="http://themes.jdsans.net/zend/?tag=home" class="tag-link-18" title="1 topic" style="font-size: 8pt;">home</a></li> <li><a href="http://themes.jdsans.net/zend/?tag=interface" class="tag-link-13" title="1 topic" style="font-size: 8pt;">interface</a></li> <li><a href="http://themes.jdsans.net/zend/?tag=technology-2" class="tag-link-16" title="3 topics" style="font-size: 18.5pt;">technology</a></li> <li><a href="http://themes.jdsans.net/zend/?tag=themes" class="tag-link-12" title="1 topic" style="font-size: 8pt;">themes</a></li> <li><a href="http://themes.jdsans.net/zend/?tag=wordpress" class="tag-link-15" title="4 topics" style="font-size: 22pt;">wordpress</a></li>
		</ul>
		<div class="clear"></div>

		</div>
		<!--END .sidebar-->
		</div>

                </div><!-- .inner_content-->

            </div> <!--#main_container-->


    <!-- BEGIN #footer-container -->
    <div id="footer" class="container">

            <div class="footer_inner row clearfix">

            <!-- BEGIN .widget-section -->
                <div class="grid_four neutral">

                    <div id="text-2" class="widget widget_text"><h4 class="widget-title">About the theme</h4>			<div class="textwidget"><p>Lorem ipsum dolor sit consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla consequat massa quis enim.</p>
</div>
		</div>

                </div><!-- END .grid_four -->

                <!-- BEGIN .widget-section -->
                <div class="grid_four">

                	<div id="video_widget-2" class="widget Video_widget"><h4 class="widget-title">My Video Reel</h4>
		<div class="video-container">
					</div>

		</div>

                </div><!-- END .grid_four -->

                <!-- BEGIN .widget-section -->
                <div class="grid_four">

                	<div id="categories-2" class="widget widget_categories"><h4 class="widget-title">Categories</h4>		<ul>
	<li class="cat-item cat-item-8"><a href="http://themes.jdsans.net/zend/?cat=8" title="View all posts filed under Applications">Applications</a>
</li>
	<li style="margin-right: 0px;" class="cat-item cat-item-9"><a href="http://themes.jdsans.net/zend/?cat=9" title="View all posts filed under Design">Design</a>
</li>
	<li class="cat-item cat-item-10"><a href="http://themes.jdsans.net/zend/?cat=10" title="View all posts filed under Icons">Icons</a>
</li>
	<li style="margin-right: 0px;" class="cat-item cat-item-7"><a href="http://themes.jdsans.net/zend/?cat=7" title="View all posts filed under Startups">Startups</a>
</li>
	<li class="cat-item cat-item-6"><a href="http://themes.jdsans.net/zend/?cat=6" title="View all posts filed under Technology">Technology</a>
</li>
		</ul>
</div>

                </div><!-- END .grid_four -->

                <!-- BEGIN .widget-section -->
                <div class="grid_four">

                	<div id="flickr_widget-2" class="widget Flickr_widget"><h4 class="widget-title">My Flickr feed</h4>
	<div id="flickr_badge_wrapper" class="clearfix">

		<script type="text/javascript" src="assets/badge_code_v2.js"></script><div class="flickr_badge_image" id="flickr_badge_image1"><a href="http://www.flickr.com/photos/mynameisorman/5268631807/"><img src="assets/5268631807_68d4622489_s.jpg" alt="A photo on Flickr" title="Checkout Process Navigation (PSD)" height="75" width="75"></a></div><div class="flickr_badge_image" id="flickr_badge_image2"><a href="http://www.flickr.com/photos/mynameisorman/5263297797/"><img src="assets/5263297797_867547b018_s.jpg" alt="A photo on Flickr" title="5 High Resolution Grungy Paper Textures" height="75" width="75"></a></div><div class="flickr_badge_image" id="flickr_badge_image3"><a href="http://www.flickr.com/photos/mynameisorman/5246812508/"><img src="assets/5246812508_c133c41271_s.jpg" alt="A photo on Flickr" title="9 High Resolution Metal Surface Textures" height="75" width="75"></a></div><div class="flickr_badge_image" id="flickr_badge_image4"><a href="http://www.flickr.com/photos/mynameisorman/5238714988/"><img src="assets/5238714988_f44f746177_s.jpg" alt="A photo on Flickr" title="Simple Little Arrows (PSD)" height="75" width="75"></a></div><div class="flickr_badge_image" id="flickr_badge_image5"><a href="http://www.flickr.com/photos/mynameisorman/5238108822/"><img src="assets/5238108822_4839ce9314_s.jpg" alt="A photo on Flickr" title="Duplex - Premium WordPress Magazine Theme" height="75" width="75"></a></div><div class="flickr_badge_image" id="flickr_badge_image6"><a href="http://www.flickr.com/photos/mynameisorman/5228391651/"><img src="assets/5228391651_c4802a0ac4_s.jpg" alt="A photo on Flickr" title="Pretty Little Progress Bar (PSD)" height="75" width="75"></a></div><span style="position:absolute;left:-999em;top:-999em;visibility:hidden" class="flickr_badge_beacon"><img src="assets/p.gif" alt="" height="0" width="0"></span>
		<a href="http://www.flickr.com/photos/10133335@N08" class="flickr_link">Some more shots</a>
	</div>

    </div>

                </div><!-- END .grid_four -->

                <div class="clear"></div>

            </div><!--Footer-inner-->
        </div><!-- end .footer -->


        <div id="footer_bottom" class="container">

                <div class="footer_inner attribution clearfix row">

                    <p class="copyright">© Copyright 2012<span></span></p>

                      <div id="footer-nav">
                                                    <div class="menu-footer-navigation-container"><ul id="menu-footer-navigation" class="menu"><li id="menu-item-85" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-41 current_page_item menu-item-85"><a href="http://themes.jdsans.net/zend/">Homepage</a></li>
<li id="menu-item-86" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-86"><a href="http://themes.jdsans.net/zend/?cat=8">Applications</a></li>
<li id="menu-item-87" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-87"><a href="http://themes.jdsans.net/zend/?cat=9">Design</a></li>
<li id="menu-item-88" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-88"><a href="http://themes.jdsans.net/zend/?cat=10">Icons</a></li>
<li id="menu-item-89" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-89"><a href="http://themes.jdsans.net/zend/?cat=7">Startups</a></li>
<li id="menu-item-90" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-90"><a href="http://themes.jdsans.net/zend/?cat=6">Technology</a></li>
</ul></div>
                      </div>

                </div> <!--attribution-->

                <div class="top_scroll"><a href="#top">↑</a></div>

          </div> <!--Footer_bottom-->

	<!-- Theme Hook -->
	<script type="text/javascript" src="assets/custom.js"></script>



    	</div> <!--.inner_warp-->

    </div> <!--.wrap .container	-->



</body><!--END body--></html>
<!--END html-->
